#dodger {
  background-color: black;
  height: 20px;
  position: absolute;
  width: 20px;
}

.happy {
  box-shadow: 1px 1px 10px grey,
              1px 1px 10px black,
              1px 1px 10px #33ccff,
              -1px -1px 10px grey,
              -1px -1px 10px black,
              -1px -1px 10px #33ccff;
}

.mad {
  box-shadow: 1px 1px 10px #ff3399,
              -1px -1px 10px #ff3399;
}

#game {
  background-color: #111;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 400px;
}

#start {
  color: white;
  font-size: 4rem;
  position: relative;
  text-decoration: none;
  top: 4rem;
}

.rock {
  width: 20px;
  height: 20px;
  background: tan;
  position: absolute;
}

.rock:before {
  content: "";
  border-bottom: 6px double #33ccff;
  border-left: 6px double #111;
  border-right: 6px double #111;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.rock:after {
  content: "";

  border-left: 6px double #111;
  border-right: 6px double #111;
  border-top: 6px double #33ccff;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 8px;
}
